@model IceCreamShop.Models.Shop.ShopDetails

@{
    ViewBag.Title = "Details";
    IEnumerable<IceCreamShop.Models.OrderView.OrderView> orders = (IEnumerable<IceCreamShop.Models.OrderView.OrderView>)ViewBag.Orders;
}

<h2>Order Details</h2>

<div>
    <h4>All Orders</h4>
    <hr />
   
</div>
<div>
    <table border="1" align="center" cellspacing="50">
        <tr><th>Flavor Name</th><th>Flavor Price</th><th>Topping Name</th><th>Topping Price</th><th>Total Price</th><th>Customer Name</th></tr>
        @foreach (var order in orders)
        {

            <tr>
                <td align="center">@order.FlavorName  </td>
                <td  align="center">@order.FlavorPriceC2()  </td>
                <td align="center">@order.ToppingName  </td>
                <td  align="center">@order.ToppingPriceC2()  </td>
                <td align="center">@order.PriceC2()  </td>
                <td align="center">@order.CustomerName  </td>
            </tr>
        }
    </table>
</div>
<p>

    @Html.ActionLink("Thank you for your order!", "../")
</p>
